<html>
    <head>
        <title>home</title>
        <style>
            body {
                background-color: lightblue;
            }
            .div {
                text-align: center;
                padding: 20px;
                border: 5px solid black;
            }
        </style>
    </head>
    <body>
        <div class="div">
            <div>
                <a href="/contact/">Contact</a> |
                <a href="/gallery/">Gallery</a>
            </div>
        </div>
        <h1>Welcome to Home Page</h1>
        <p>This is the home page.</p>
    </body>
</html>
