<html>
    <head>
        <title>contact</title>
        <style>
            body {
                background-color: lightblue;
            }
            .div {
                text-align: center;
                padding: 20px;
                border: 5px solid black;
            }
        </style>
    </head>
    <body>
        <div class="div">
            <div>
                <a href="/">Home</a> |
                <a href="/gallery/">Gallery</a>
            </div>
        </div>
        <h1>Welcome to Contact Page</h1>
        <p>This is the contact page.</p>

    </body>
    
</html>
